AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>

<IfModule mod_php5.c>
  php_value error_log "../logs/php_error.log"
  php_value upload_max_filesize "64M"
  php_value post_max_size "65M"
  php_value max_execution_time "600"
  php_value memory_limit "2048M"
  php_value error_reporting "6135"
  php_flag magic_quotes_gpc "off"
  #php_flag xdebug.profiler_enable "on"
</IfModule>